<!-- Modal -->
<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> 상품목록 </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="div_orders"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>

<script>
    Handlebars.registerHelper("status1", function(status) {
        if(status==0) {
            return "결제 대기 중";
        } else if (status==1) {
            return "결제 확인";
        } else if (status==2) {
            return "배송 준비 중";
        } else if (status==3) {
            return "배송 완료";
        } else if (status==4) {
            return "주문 완료";
        }
    });
</script>

<script id="temp_orders" type="x-handlebars-template">
    <div class="my-5">
        <div> [주문번호] {{info.pid}} </div> 
        <div> [배송상태] {{status1 info.status}} </div>
        <div> [주문자] {{info.rname}} </div>
        <div> [주　소] {{info.raddress1}} {{info.raddress2}} </div>
        <div> [연락처] {{info.rphone}} </div>
        <div> [결제금액] {{info.fmtsum}}원 </div>
    </div>
    <table class="table">
    {{#each books}}
        <tr>
            <td> {{bid}} </td>
            <td><img src="{{image}}" width="30"></td>
            <td> {{title}} </td>
            <td> {{qnt}} </td>
            <td> {{fmtprice}}원 </td>
            <td> 총　{{fmtsum}}원 </td>
        </tr>
    {{/each}}
    </table>
</script>
