<div class="my-5">
	<h1 class="text-center mb-5">비밀번호 변경하기</h1>
	<div class="row justify-content-center">
		<div class="col">
			<form name="frm" class="card p-3">
				<div class="input-group mb-2">
					<span class="input-group-text">현재 비밀번호</span>
					<input name="upass" class="form-control" type="password">
				</div>
				<div class="input-group mb-2">
					<span class="input-group-text">새 비밀번호</span>
					<input name="npass" class="form-control" type="password">
				</div>
				<div class="input-group mb-2">
					<span class="input-group-text">비밀번호 확인</span>
					<input name="cpass" class="form-control" type="password">
				</div>
				<button class="btn btn-warning w-100 my-3">변경하기~!</button>
			</form>
		</div>
	</div>
</div>

<script>
	$(frm).on("submit", function (e) {
		e.preventDefault();
		const upass = $(frm.upass).val();
		const npass = $(frm.npass).val();
		const cpass = $(frm.cpass).val();
		if (upass == "" || npass == "" || cpass == "") { //조건1
			alert("현재비밀번호, 새로운비밀번호, 비밀번호확인을 입력하세요!");
			return;
		}
		if (npass != cpass) { //조건2
			alert("비밀번호 확인 다시 해주세용");
			return;
		}
		$.ajax({ //리퀘스트바디로 보냈움
			type: "post",
			url: "/users/login",
			data: JSON.stringify({uid: sessionStorage.getItem("uid"), upass}),
			contentType: "application/JSON",
			success: function (data) {
				if (data != 1) {
					alert("현재비밀번호가 일치하지 않습니다!");
					$(frm.upass).focus();
				} else { //조건3
					if (confirm("새로운 비밀번호로 변경하시겠슴까?")) {
						$.ajax({
							type: "post",
							url: "/users/password",
							data: JSON.stringify({uid: sessionStorage.getItem("uid"), upass: npass}),
							contentType: "application/JSON",
							success: function () {
								alert("새로운 비밀번호로 변경되었습니다.");
								sessionStorage.clear();
								location.href = "/users/login";
							}
						})
					}
				}
			}
		})

	})
</script>