.App {
    font-size: 20px;
    margin: 50px;
}

.count {
    width: 500px;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
}

.button {
    font-size: 30px;
    background-color: tomato;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
}

.text {
    margin: 0px 20px;
    font-size: 30px;
}

.input-group span {
    width: 80px;
    justify-content: center;
}

.active {
    color: white;
    background-color: tomato;
}

a {
    text-decoration: none !important;
    font-size: 1.5rem;
}

.home{
    font-size:1.5rem;
    color:white;
    margin-right: 20px;
}
  
.navbar-nav .active{
    color:pink
}
  
.navbar-nav a{
    color: white;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.heart {
    color: red;
    cursor: pointer;
}